@import "assets/styles/messageBox";

@font-face {
  font-family: 'FirsNeueRegular';
  src: url(assets/fonts/TypeType_-_TT_Firs_Neue_Regular.otf);
}

@font-face {
  font-family: 'FirsNeueBold';
  src: url('assets/fonts/TypeType_-_TT_Firs_Neue_Bold.otf');
}

* {
  font-family: 'FirsNeueRegular', 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

#root {
  padding: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
